html {
    scroll-behavior: smooth;
}
body {
    font-family: "Lora", serif;
}
.background {
    background-color: #2e2d4c;
    background-image: url(../img/background-foods-v4.png);
    background-attachment: fixed;
    padding-bottom: 100px;
}
.conteudo {    
    line-height: 3rem;
    width: 72%;
    background-color: white;
    margin: 120px 120px 0;
    padding: 50px;
    border-radius: 10px;
}

.cabecalho {
    text-align: center;
    color: #fff;
    margin: auto;
    padding: 30px;
}

.logo img {
    width: 220px;
    margin: 100px 530px;
}

.navigation li {
    display: inline-block;
    width: 150px;
    font-size: 1.2rem;
    text-transform: uppercase;
}  

.navigation li a:link,
.navigation li a:visited {
    color: gray;
    text-decoration: none;
}

.navigation li a:hover {
    color: #494848;
    text-decoration: underline;
}

.navigation li a:active {
    color: #100d66;
    text-decoration: wavy;
}

.avatar{
    float: left;
    width: 140px;
    padding: 20px;
    margin-right:20px;
}

.fonte--grande {
    font-size: 3.2rem;
}

.fonte--media {
    font-size: 1.7rem;
}

.fonte--pequena {
    font-size: 1.2rem;
}

.titulo {
   font-size: 1,9rem;
   margin-top: 50px; 
}

.titulo--fonte {
    font-family: "Exo 2", sans-serif;
}

.habilidades label{
    width: 280px;
    display: inline-block;
}

.habilidades progress {
    accent-color: #2e2d4c;
}

.fotos img {
   width: 400px;
   height: 240px;
   margin: 35px;
   border-radius: 8px;
   filter: grayscale(0.4);
}

.fotos img:hover {
    filter: none;
}

.btn-inicio {
    font-size: 3rem;    
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.3;  
    z-index: 1;  
}


.btn-inicio:hover {
    opacity: 1;
}

.footer {
    position: relative;
    padding: 100px;
    background-color: #4b4a69;
    color: #fff;
    text-align: center;
    word-spacing: 5px;
}

.logotipo {
    color: #2e2d4c;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.8rem;
    padding-top: 10px;
    z-index: 1;
}

.logomarca.fundo {
    background-color: #fff;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50%;
    transform: translateX(50%) rotate(45deg);
    margin-top: -60px;
}

@media (max-width: 720px) {
    body {
        position: absolute;
    }

    .logo img {
        width: 120px;
    }
    
    .fonte--grande {
        font-size: 2,6rem;
    }
    
    .fonte--media {
        font-size: 1.5rem;
    }
    
    .fonte--pequena {
        font-size: 1.1rem;
    }
}